.menuItem {
  padding: 8px;
  border-radius: 25px;
  background-color: var(--panel-background);
  color: var(--panel-text);
  margin-bottom: 5px;
  cursor: pointer;
}

.activeMenuItem {
    background-color: var(--panel-background-active);
    color: inherit;
}

.menuLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.menuText {
  font-size: 0.875rem;
  font-weight: 400;
  padding-left: 5px;
}

.menuLinkContent {
  display: flex;
  color: inherit;
}

.svgStyle {
  stroke-width: 2;
  flex-shrink: 0;
  height: 16px;
  width: 16px;
  color: inherit;
  fill: currentColor;
}
