.inputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #E8EAED;
  border-radius: 5px;
  overflow: hidden;
  width: 150px;
  background-color: var(--panel-background);
}

.inputLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.inputLabel input {
  border: none;
  text-align: center;
  width: 100%;
  height: 31px;
  font-size: 1rem;
  outline: none;
}

.inputLabel input:focus {
  outline: 2px solid var(--text-color);
}

.incrementButton,
.decrementButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 100%;
  background: var(--button-background);
  border: none;
  cursor: pointer;
  padding: 10px;
}

.incrementButton:hover,
.decrementButton:hover,
.incrementButton:hover > svg {
  background: var(--button-background-hover);
}

.incrementButton:focus,
.decrementButton:focus {
  outline: 2px solid var(--text-color);
}

.incrementButton svg,
.decrementButton svg {
  width: 16px;
  height: 16px;
  stroke-width: 2px;
  stroke: #FFFFFF;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}
