[data-theme="dark"] .sidebar,
[data-theme="high-contrast"] .sidebar {
  background: linear-gradient(
    to bottom,
    var(--background-color),
    var(--background-color)
  );
  color: var(--text-color);
}

/* LargeContent */
.content {
  flex: 1;
  padding: 20px;
  background: #ffffff;
  color: var(--primary-text-color);
  box-sizing: border-box;
  overflow-y: auto;
}

[data-theme="dark"] .content,
[data-theme="high-contrast"] .content {
  background: var(--background-color-light);
  color: var(--text-color);
}

/* Sidebar */
.sidebar {
  background: linear-gradient(to bottom, #ffffff, #f0f0f0);
  padding: 20px;
  box-sizing: border-box;
}

.title {
  color: var(--primary-text-color);
  font-size: 1.5rem;
  margin-bottom: 20px;
}

[data-theme="dark"] .title,
[data-theme="high-contrast"] .title {
  color: var(--text-color);
}

.menu {
  list-style-type: none;
  margin: 0;
}

[data-theme="high-contrast"] .menu > li {
  border: 1px solid var(--text-color);
}

/* End sidebar */

/* Close & Modal button */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 866px;
  background: inherit;
  color: var(--panel-text);
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  min-height: 50dvh;
  max-height: 80dvh;
}

[data-theme="high-contrast"] .modal {
  border: 1px solid var(--text-color);
}

.modalClose {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  border: none;
  background: none;
  color: inherit;
}

/* End Close & Modal button */

.svgStyle {
  stroke-width: 2;
  flex-shrink: 0;
  height: 16px;
  width: 16px;
  color: inherit;
  fill: currentColor;
}

@media (min-width: 768px) {
  .modal {
    flex-direction: row;
  }

  .sidebar {
    flex-basis: 30%;
  }

  .content {
    flex-basis: 70%;
  }
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 16px;
  align-items: center;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 0.875rem; /* 14px */
  font-weight: medium;
  opacity: 0.7;
}

.descriptionText {
  font-size: 0.75rem; /* 12px */
  color: #666;
}

.flexItemCenter {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.accentColorListWrap {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.colorButtonWrap {
  display: inline-flex;
}

.colorIndicator {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.timerSettings {
  margin-top: 20px;
  padding: 10px;
  border-radius: 8px;
}

.timerSetting {
  margin-bottom: 10px;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  font-size: 0.875rem;
}

@media (max-width: 786px) {
  .timerSetting {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }
}

.timerInput {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}

/* Toggle Switch */
.toggleSwitch {
  position: relative;
  width: 40px;
  height: 20px;
}

.toggleInput {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggleLabel {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
}

.toggleLabel:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.toggleInput:checked + .toggleLabel {
  background-color: var(--button-background);
}

.toggleInput:checked + .toggleLabel:before {
  transform: translateX(20px);
}

[data-theme="dark"] .toggleLabel,
[data-theme="high-contrast"] .toggleLabel {
  background-color: var(--panel-background);
}

[data-theme="dark"] .toggleInput:checked + .toggleLabel {
  background-color: var(--button-background);
}

.toggleInput:focus + .toggleLabel {
  outline: 2px solid var(--text-color);
}

.content {
  flex: 1;
  padding: 20px;
  background: #ffffff;
  box-sizing: border-box;
  overflow-y: auto;
}

.content::-webkit-scrollbar {
  width: 8px;
}

.content::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
  border-radius: 10px;
}

.content::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 10px;
}

.content::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

.settingItem {
  margin-top: 20px;
}

.toggleInput {
  margin-left: 10px;
  cursor: pointer;
}

.inputWithClear {
  position: relative;
  display: flex;
  align-items: center;
}

.textInput {
  width: 100%;
  padding: 8px 12px;
  padding-right: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.875rem;
  color: var(--text-color);
}

.textInput:disabled {
  background-color: #f3f3f3;
  color: #ccc;
  cursor: not-allowed;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.buttonGroup {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  outline: none;
  color: white;
  background-color: var(--button-background);
  transition: all 0.2s ease;
}

.button:hover {
  opacity: 0.8;
  background-color: var(--button-background-hover);
}

.button:focus {
  outline: 2px solid var(--alert);
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.spinner {
  border: 2px solid #f3f3f3;
  border-top: 2px solid var(--alert);
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spin 2s linear infinite;
  margin-left: 8px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.importExportContainer {
  padding: 20px;
}

.copyPasteButtons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 5px;
}

.copyPasteButton {
  background-color: var(--button-background);
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 12px;
}

.copyPasteButton:hover {
  background-color: var(--button-background-hover);
}

.textareaContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.textarea {
  width: 100%;
  height: 200px;
  font-family: monospace;
  font-size: 14px;
  line-height: 1.5;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
  resize: vertical;
  box-sizing: border-box;
  padding: 10px;
}

.pre {
  width: 100%;
  height: 200px;
  overflow: auto;
  background-color: #f5f5f5;
  border-radius: 4px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  white-space: pre-wrap;
  word-wrap: break-word;
  box-sizing: border-box;
  padding: 10px;
}

[data-theme="dark"] .pre,
[data-theme="dark"] .textarea {
  background-color: #333;
  color: #fff;
}
[data-theme="high-contrast"] .pre,
[data-theme="high-contrast"] .textarea {
  background-color: var(--background-color);
  color: #fff;
}

.notesList {
  max-height: 300px;
  overflow-y: auto;
  padding-top: 20px;
}

.note {
  background-color: var(--background-color);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: left;
  word-break: break-word;
}

.note p {
  margin: 0;
  flex: 1;
  padding-top: 5px;
}

.noteButtons {
  display: flex;
  gap: 10px;
}

.noteButtons button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.noteButtons button:hover {
  background-color: #0056b3;
}

.uploadContainer {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}
