.timerIsland {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
  box-sizing: border-box;
  position: relative;
  padding: 0;
  width: 220px;
  height: 220px;
  line-height: 220px;
  border-radius: 220px;
  transform-origin: center center;
}

.timerText {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  box-sizing: border-box;
  white-space: nowrap;
  opacity: 1;
}

.timerBorder {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  box-sizing: border-box;
  background-color: var(--panel-background);
  border: 2px transparent solid;
  animation-name: timer-heartbeat;
  animation-delay: 3.5s;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

[data-theme="high-contrast"] .timerBorder {
  border: 1px var(--white) solid;
}

.timerRing {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  box-sizing: border-box;
  opacity: 0;
  animation-name: timer-ring;
  animation-delay: 3.5s;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.fast .timerBorder,
.fast .timerRing {
  animation-duration: 1s;
}

@keyframes timer-heartbeat {
  0% {
    transform: scale(1);
  }
  8.333% {
    transform: scale(0.989);
  }
  16.667% {
    transform: scale(1);
  }
}

@keyframes timer-ring {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  12.5% {
    opacity: 0;
    transform: scale(0.995);
  }
  16.667% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: scale(1.3);
  }
}

@media screen and (min-width: 48em) {
  .timerIsland {
    width: calc(100% - 36px);
  }
}

.layoutMobile .timerIsland {
  top: calc(50% - 90px);
  left: 0;
  width: 100%;
}

@media only screen and (max-height: 699px) and (orientation: landscape) {
  .layoutMobile .timerIsland {
    width: 50%;
    left: 0;
    top: calc(50% - 90px + 25.5px);
  }
}

@media screen and (max-width: 380px) {
  .timerIsland {
    width: 220px;
    height: 220px;
    line-height: 220px;
    border-radius: 220px;
  }
}

@media screen and (min-width: 380px) {
  .timerIsland {
    width: 220px;
    height: 220px;
    line-height: 220px;
    border-radius: 220px;
  }
}

.timerRing {
  border: 2px var(--text-color) solid;
}
