.taskList {
  padding: 10px;
  background-color: var(--panel-background);
  margin-bottom: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.taskList:hover {
  background-color: var(--panel-background-hover);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.sidebar {
  max-width: 20rem;
  width: 20rem;
  height: 100vh;
  background-color: var(--background-color);
  padding: 15px;
  box-sizing: border-box;
  box-shadow:
    rgba(0, 0, 0, 0.15) 0px 10px 20px,
    rgba(0, 0, 0, 0.1) 0px 3px 6px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 15;
  transition: transform 0.3s ease-in-out;
}

.open {
  transform: translateX(0);
}

.sidebar:not(.open) {
  transform: translateX(-100%);
}

.addButton {
  height: 2.5rem;
  border-radius: .5rem;
  padding: 0rem .625rem;
  color: var(--button-text);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addButton:hover {
  color: var(--button-text);
  background-color: var(--button-background-hover);
  transition: all 0.3s ease-in-out;
}

.svgStyle {
  height: 20px;
  width: 20px;
  fill: currentColor;
  color: #fff;
}

.toggleButton {
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: transparent;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  user-select: none;
  z-index: 20;
  display: block;
}

@media (max-width: 600px) {
  .toggleButton {
    top: 0;
    right: 0;
    transform: translateY(0);
  }

  .sidebar:not(.open) .toggleButton {
    display: none;
  }
}

.toggleIcon {
  width: 13px;
  height: 13px;
  fill: #333;
  transition: fill 0.3s;
}

.sidebar:not(.open) .toggleIcon {
  fill: #fff;
}

.taskList {
  height: 40px;
  padding: 0.225rem;
}

.taskListTitle {
  margin: 5px 10px 5px 0px;
  padding: 0.625rem 0.255rem;
  color: var(--panel-text);
  font-size: 14px;
  font-weight: 500;
  text-align: justify;
  white-space: nowrap;
  max-width: 12rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inherit; 
}

.taskListTitle:hover {
  border-radius: 5px;
  background-color: var(--button-background-hover);
  transition: all 0.3s ease-in-out;
}

.editableText {
  align-content: center;
}

.sidebarListControls {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 3.5rem;
  padding-bottom: 10px;
}
