.inputArea {
    display: flex;
    align-items: center;
    background-color: var(--white);
    border-radius: 25px;
    padding: 5px;
    margin: 25px 10px;
    color: var(--text-color);
    position: relative;
  
    &:focus-within {
      outline: 2px solid var(--alert);
    }
  }
  
  .inputArea > input {
    flex-grow: 1;
    padding: 10px 15px;
    border: none;
    font-size: 16px;
    background: transparent;
    color: var(--text-color);
    border-radius: 25px;
    outline: none;
  
    &::placeholder {
      color: var(--text-color-faint);
    }
  }
  
  .inputArea > button {
    width: 40px;
    height: 40px;
  
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  [data-theme="dark"] .inputArea {
    background-color: var(--panel-background);
    &:focus-within {
      outline: 2px solid var(--text-color);
    }
  }
  
  [data-theme="high-contrast"] .inputArea {
    background-color: var(--panel-background);
    border: 1px solid var(--text-color);
    &:focus-within {
      outline: 2px solid var(--text-color);
    }
  }

  .svgStyle {
    fill: white;
    stroke: none;
    width: 23px;
    height: 23px;
    margin-left: 1px;
  }