.contextMenuButton {
  --contexify-activeItem-bgColor: var(--panel-background-hover);
  --contexify-activeItem-color: var(--white);
  --contexify-menu-bgColor: #ffffff;
  --contexify-separator-color: #eee;
  --contexify-item-color: #000000;
  --contexify-rightSlot-color: #000;
  --contexify-activeRightSlot-color: #fff;
  --contexify-arrow-color: var(--text-color);
  --contexify-activeArrow-color: #000000;

  font-size: 0.875rem;
  font-family: "Montserrat", sans-serif;
}

[data-theme="dark"] .contextMenuButton {
  --contexify-menu-bgColor: var(--background-color);
  --contexify-separator-color: #ffffff;
  --contexify-item-color: #ffffff;
  --contexify-activeItem-color: #fff;
  --contexify-activeItem-bgColor: #000000;
  --contexify-rightSlot-color: #ffffff;
  --contexify-activeRightSlot-color: #fff;
  --contexify-arrow-color: #ffffff;
  --contexify-activeArrow-color: #fff;
}

[data-theme="high-contrast"] .contextMenuButton {
  --contexify-menu-bgColor: rgba(0, 0, 0);
  --contexify-separator-color: #ffffff;
  --contexify-item-color: #ffffff;
  --contexify-activeItem-color: #fff;
  --contexify-activeItem-bgColor: #000000;
  --contexify-rightSlot-color: #ffffff;
  --contexify-activeRightSlot-color: #fff;
  --contexify-arrow-color: #ffffff;
  --contexify-activeArrow-color: #fff;

  font-size: 0.875rem;
  font-family: "Montserrat", sans-serif;
}

.taskPanel {
  /* max-width: 768px; */
  display: flex;
  flex-direction: column;
  width: 100%;
  /* overflow-y: auto; */

  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar-track {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    display: none;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar-corner {
    display: none;
  }

  &::-webkit-scrollbar-resizer {
    display: none;
  }

  &::-webkit-scrollbar-track-piece {
    display: none;
  }
}

@media screen and (min-width: 360px) {
  .taskText {
    font-size: 0.75rem;
  }
}
