.cardIllustration {
  padding: 0.1rem;
  background-color: #fff;
  border-radius: 8px;
  background-color: rgba(25, 25, 29, 0.95);
}

.colorPalette {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.colorPalette li {
  color: transparent;
  margin: 0.1rem;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.colorPalette li:hover,
.colorPalette li:focus-within {
  transform: scale(1.1);
}

.colorPalette input[type="radio"] {
  opacity: 0;
  position: absolute;
  width: 40px;
  height: 40px;
  margin: 0;
  cursor: pointer;
}

.colorPalette label {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  border: 2px solid white;
}

.colorPalette input[type="radio"]:checked + label {
  box-shadow: 0 0 0 3px white, 0 0 0 6px black;
}

.cardText {
  margin-top: 1em;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  width: 100%;
  display: block;
}

.cardMain {
  background-color: rgba(25, 25, 29, 0.95);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  z-index: 2147483647;
  pointer-events: auto;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 48px 0px 58px;
  box-sizing: border-box;
  font-size: 11px;
}

.cancelButton {
  position: absolute;
  top: 17px;
  right: 18px;
  cursor: pointer;
  width: 15px;
  height: 15px;
  fill: black;
  z-index: 2147483647;
  fill: currentColor;
}

.settingCard {
  color: rgb(34, 34, 34);
  border-radius: 8px;
  background-color: white;
  position: relative;
  max-width: 400px;
  width: 95%;
  z-index: 2147483647;
  border-top: 1px solid rgb(239, 239, 239);
  border-bottom: 1px solid rgb(239, 239, 239);
  transition: all 0.2s ease-in 0s;
  transform: translateY(20px);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px, rgba(0, 0, 0, 0.1) 0px 3px 6px;
  overflow: hidden;
  margin: auto;
  display: block;
}

.cardTitle {
  margin-bottom: 1em;
  color: var(--text-color);
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 10px 0px 10px;
  text-align: left;
}

.settingCardBody {
  padding: 10px 10px;
}

.settingCardItem {
  position: relative;
  max-width: 780px;
  margin: auto;
}

.settingTimeBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;  

}

.settingCardItemTitle {
  color: var(--text-color);
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
  letter-spacing: 0.5px;
  padding: 10px 0px;
  display: flex;
}

.settingButton { 
  width: 100%;
  height: 40px;
  border-radius: 8px;
  background-color: var(--button-background);
  color: #fff;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition: all 0.2s ease-in 0s;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px, rgba(0, 0, 0, 0.1) 0px 3px 6px;
  overflow: hidden;
  margin: auto;
  display: block;
  text-align: center;
  margin: 5px;
}

.settingButton:hover {
  background-color: var(--button-background-hover);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px, rgba(0, 0, 0, 0.1) 0px 3px 6px;
}

.settingCardCommitBtn {
  display: flex;
  justify-content: space-between;
}

.checkboxWrapper2 .linearToggle {
  appearance: none;
  background-color: #dfe1e4;
  border-radius: 72px;
  border-style: none;
  flex-shrink: 0;
  height: 20px;
  margin: 0;
  position: relative;
  width: 30px;
}

.checkboxWrapper2 .linearToggle::before {
  bottom: -6px;
  content: "";
  left: -6px;
  position: absolute;
  right: -6px;
  top: -6px;
}

.checkboxWrapper2 .linearToggle,
.checkboxWrapper2 .linearToggle::after {
  transition: all 100ms ease-out;
}

.checkboxWrapper2 .linearToggle::after {
  background-color: #fff;
  border-radius: 50%;
  content: "";
  height: 14px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 14px;
}

.checkboxWrapper2 input[type="checkbox"] {
  cursor: default;
}

.checkboxWrapper2 .linearToggle:hover {
  background-color: #c9cbcd;
  transition-duration: 0s;
}

.checkboxWrapper2 .linearToggle:checked {
  background-color: var(--button-background);
}

.checkboxWrapper2 .linearToggle:checked::after {
  background-color: #fff;
  left: 13px;
}

.checkboxWrapper2 :focus:not(.focus-visible) {
  outline: 0;
}

.checkboxWrapper2 .linearToggle:checked:hover {
  background-color: var(--button-background-hover);
}


input[type="number"], .settingSelect  {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  appearance: none;
  background-color: #fff;
}

.settingSelect:focus, input[type="number"]:focus {
  outline: none;
  border-color: var(--button-background);
  box-shadow: 0 0 0 3px var(--button-background);
}

.icon {
  height: 30px;
  width: 30px;
}

.bgInput {
  background: none;
  border: 1px solid #ccc;
  border-radius: 4px;  
  display: block;
  font-size: inherit;
  line-height: inherit;
  padding: 2px;
  resize: none;
  width: 100%;
  color: var(--text-color);
}

.inputWrapper {
  align-items: center;
  background: rgba(255, 255, 255, 0.055);
  border-radius: 4px;
  box-shadow: rgba(255, 255, 255, 0.075) 0 0 0 1px inset;
  cursor: text;
  display: flex;
  font-size: 14px;
  height: 28px;
  line-height: 20px;
  padding: 3px 6px;
  position: relative;
  width: 100%;
}
