.main {
    flex-grow: '1';
    margin-bottom: '0px';
    margin-right: '0px';
    min-height: '0px';
    overflow: 'hidden auto';
    transform: 'translateZ(0px)';
    z-index: '1';
}

.container {
    margin-bottom: 6px;
    margin-top: 8px;
    padding-bottom: 6px;
    padding-top: 6px;
}

.innerContainer {
    align-items: center;
    display: flex;
    font-size: 14px;
    line-height: 120%;
    min-height: 28px;
    user-select: none;
    width: 100%;
}

.content {
    flex: 1 1 auto;
    margin-left: 12px;
    margin-right: 12px;
    min-width: 0px;
}

.inputContainer {
    display: flex;
}

.inputWrapper {
    align-items: center;
    background: rgba(255, 255, 255, 0.055);
    border-radius: 4px;
    box-shadow: rgba(255, 255, 255, 0.075) 0 0 0 1px inset;
    cursor: text;
    display: flex;
    font-size: 14px;
    height: 28px;
    line-height: 20px;
    padding: 3px 6px;
    position: relative;
    width: 100%;
}

.input {
    background: none;
    border: 1px solid #ccc;
    border-radius: 4px;  
    display: block;
    font-size: inherit;
    line-height: inherit;
    padding: 2px;
    resize: none;
    width: 100%;
    color: var(--text-color);
}

.outerContainer {
    padding-bottom: 6px;
    padding-top: 6px;
}

.flexContainer {
    align-items: center;
    display: flex;
    font-size: 14px;
    line-height: 120%;
    min-height: 28px;
    user-select: none;
    width: 100%;
}

.flexItem {
    flex: 1 1 auto;
    margin-left: 12px;
    margin-right: 12px;
    min-width: 0px;
    overflow: hidden;
    text-overflow: 'ellipsis';
    white-space: 'nowrap';
    text-align: center;
}

.button {
    align-items: center;
    background: var(--button-background);
    border-radius: 4px;
    box-shadow: rgba(15, 15, 15, 0.2) 0px 0px 0px 1px inset, rgba(15, 15, 15, 0.1) 0px 1px 2px;
    color: white;
    cursor: pointer;
    display: flex;
    fill: white;
    flex-shrink: 0;
    font-size: 14px;
    font-weight: 500;
    height: 28px;
    justify-content: center;
    line-height: 1.2;
    margin: auto;
    max-width: 300px;
    padding: 0 12px;
    transition: background 0.2s ease-in 0s, transform 0.2s ease-in 0s;
    user-select: none;
    white-space: nowrap;
    width: 100%;
  }
  
  .button:hover {
    background: var(--button-background-hover);
    transform: scale(1.05);
  }
  

.infoText {
    color: var(--text-color);
    font-size: 12px;
    margin-top: 2px;
    overflow: hidden;
    text-overflow: 'ellipsis';
    white-space: 'normal';
}

.infoContainer {
    align-items: 'center';
    background: 'none';
    border-bottom: 'none';
    display: 'flex';
    font-size: '14px';
    line-height: '120%';
    margin-bottom: '6px';
    margin-top: '2px';
    padding-bottom: '4px';
    padding-top: '4px';
    text-align: 'center';
    user-select: 'none';
    width: '100%';
}
