.deleteModal {
  background-color: #fff;
  border: 1px solid #ccc;
  color: var(--primary-text-color);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: fit-content;
  width: 360px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
}

[data-theme="dark"] .deleteModal,
[data-theme="high-contrast"] .deleteModal {
  background-color: var(--background-color);
  border: 1px solid var(--white);
}

.deleteModalHeader {
  text-align: center;
  width: 300px;
  font-size: 1.3rem;
}

.deleteModalTitle {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.titleText {
  display: inline-block;
  max-width: 100%;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.deleteModalBody {
  margin-bottom: 20px;
  text-align: center;
}

.deleteModalFooter {
  display: flex;
  justify-content: space-around;
}

.btnDanger {
  background-color: #e53e3e;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btnDanger:hover {
  background-color: #c53030;
}

.btnSecondary {
  background-color: #cbd5e0;
  color: #2d3748;
  border: none;
  padding: 8px 16px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btnSecondary:hover {
  background-color: #b2becd;
}
