.animation {
  -webkit-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  -o-transform: translate(0, 100%);
  transform: translate(0, 100%);
}

.timerBox > span {
  position: relative;
}

.timerContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 5px 12px;
  max-width: 620px;
  margin: auto;
  border: 2px solid var(--indigo-500);
  justify-content: space-between;
}

a:hover {
  text-decoration: none;
}

.timerBox {
  color: #fff;
}

.timerFont {
  font-size: 2rem;
  font-weight: 500;
  color: var(--white);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.controlContainer {
  border: 2px solid var(--indigo-500);
}