.animation {
    -webkit-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    -o-transform: translate(0, 100%);
    transform: translate(0, 100%);
}

.timerBox > span {
    position: relative;
}

.timerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timerTime {
    line-height: 1em;
    font-size: 600%;
    font-weight: 900;
    background-color: transparent;
    color: #ffede5;
    border: none;
    margin: auto;
}

a:hover {
    text-decoration: none;
}


.timerBox {
    color: #fff;
    /* border: #ffa900 dashed 4px; */
}

.timerFont {
    font-size: 5rem;
    font-weight: 900;
    color: var(--white);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.buttonPanel {
    width: 100%;
    height: fit-content;
}
