.sideMenu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  display: flex;
  height: 100vh;
  /* width: 64px; */
  width: 50px;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: var(--panel-background);
  color: rgba(156, 163, 175, 1);
}

[data-theme="high-contrast"] .sideMenu {
  border-right: 1px solid var(--text-color);
}

.topIcon {
  margin-top: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  padding: 0.5rem;
  border-radius: 1.5rem;
  height: 2.5rem;
  width: 2.5rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border: none;
  &:hover { 
    background-color: var(--panel-background-hover);
  }

  &:focus {
    outline: 2px solid var(--text-color);
}
}

.topIconSvg {
  height: 32px;
  width: 32px;
  color: var(--panel-text);
}
