.buttonPanel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 0px 0px 0px;
  gap: 1rem;
}

.buttonPanel a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonPanel a:active {
  transform: scale(0.9);
  transition: 0.5s;
  color: #ffffff;
  text-shadow:
    0 0 10px #ffffff,
    0 0 20px #ffffff,
    0 0 30px #ffffff,
    0 0 40px #ffffff,
    0 0 50px #ffffff,
    0 0 60px #ffffff,
    0 0 70px #ffffff;
  text-decoration: none;
}

.buttonMenu {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.3s;
  outline: none;
  background-color: inherit;
}

.buttonMenu:hover,
.buttonMenu:focus {
  background-color: var(--button-hover-color);
  transform: scale(1.05);
}

.button {
  padding: 8px 16px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  cursor: pointer;
}

.button:hover {
  background-color: #e0e0e0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.listItem {
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.listItem:hover {
  background-color: #f0f0f0;
  color: white;
}

.svgStyle {
  fill: white;
  stroke: none;
  width: 20px;
  height: 20px;
  margin-left: 1px;
}