
.animation {
    -webkit-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    -o-transform: translate(0, 100%);
    transform: translate(0, 100%);
}

.timerBox > span {
    position: relative;
}

.timerContainer {
    height: 1em;
    overflow: hidden;
    position: relative;
}

.timerTime {
    line-height: 1em;
    font-size: 600%;
    font-weight: 900;
    background-color: transparent;
    color: #ffede5;
    border: none;
    margin: auto;
}

.timerBox {
    height: 1em;
    margin: auto;
    position: relative;
}

a:hover {
    text-decoration: none;
}


.timerBox {
    color: #fff;
}

.todoBackground {
    background-color: #ffa900;
    padding: 2%;
}

.workFlow {
    width: 100%;
}

.timerFont {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 900;
}
